@mixin centerFlex() {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}

@mixin styleFont() {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}