$colorSelectSite: #f16d7f;
$secondaryColorSite: #eaeaea;
$colorSubscribe: #222224;
$widthSite: 1140px;
$widthSiteTablet: 752px; //768px - 16px ширина планшета + padding-left
$widthSiteMobile: 359px; // 375px - 16рх ширина мобильного + padding-left
$backBlock: #222;
$colorText: #000;
$gapGrid: 30px;
$thirdSite: ($widthSite - $gapGrid) / 3;